html
{
    min-height:100;
}


body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    background-image:linear-gradient(rgba(255, 255, 255, 0.384), rgba(255, 255, 255, 0.384)),  url(zHR7ayvVH6Q1.jpg);
    height:150vh;
    background-position: center top;
    background-attachment: fixed;
    background-size:cover;  
}

.buttons
{
    position: absolute;
    left: 50%;
    top: 4.7%;
    transform: translate(-50%, -50%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    position:fixed;
    z-index:1;
    background-color: rgba(49, 5, 61, 0.767);
    padding:1.5vh;
    width: 100%;
}

.btns
{
    padding: 4vh 10vw;
    color:rgb(255, 255, 255); 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.7vw;
    text-decoration: none;
    transition: 0.3s ease;
    text-align: center;
    padding: 7px;
}

.btns:hover
{
    background-color: rgba(255, 255, 255, 0.692);
    color: rgba(49, 5, 61, 0.904);
    border: 2px solid rgba(49, 5, 61, 0.904);
    font-weight: bold;
    transition: 0.7s ease;
}

.title
{
    border: 5px solid rgba(69, 4, 88, 0.788);   
    padding: 2px 50px;
    position: absolute;
    left:50%;
    top:14%;
    color: rgba(69, 4, 88, 0.788);
    font-size: 6.1vh;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    transform: translate(-50%, -50%);
}

h2
{
    position: absolute;
    left:50%;
    top:25%;
    color: rgba(69, 4, 88, 0.788);
    font-size: 4.1vh;
    font-style: oblique;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    transform: translate(-50%, -50%);
}

form
{
    position:absolute;
    display:block;
    left:50vw;
    top:100vh; 
    transform: translate(-50%, -50%);
}

.name1
{
    color: rgba(69, 4, 88, 0.815);
    font-weight:bold;
    font-size: 2.7vw;
    text-decoration: underline;
}

#sub-button
{
    position:absolute;
    left:14vw;
    top:140vh; 
    transform: translate(-50%, -50%);
    padding:2vw;
    font-size:2vw;
    color: rgb(255, 255, 255);
    background-color: rgba(49, 5, 61, 0.767);
    border-radius: 11px;
}

#sub-button:hover
{
    background-color: rgba(255, 255, 255, 0.692);
    color: rgba(49, 5, 61, 0.904);
    border: 2px solid rgba(49, 5, 61, 0.904);
    font-weight: bold;
    transition: 0.7s ease;   
    cursor:pointer;
}

#res-button
{
    position:absolute;
    left:30vw;
    top:140vh; 
    transform: translate(-50%, -50%);
    padding:2vw;
    font-size:2vw;
    color: rgb(255, 255, 255);
    background-color: rgba(49, 5, 61, 0.795);
    border-radius: 11px;
}

#res-button:hover
{
    background-color: rgba(255, 255, 255, 0.692);
    color: rgba(49, 5, 61, 0.904);
    border: 2px solid rgba(49, 5, 61, 0.904);
    font-weight: bold;
    transition: 0.7s ease;   
    cursor:pointer;
}

#box
{
    padding:10px;
    font-size:1.8vw;
    color: rgba(57, 2, 73, 0.788);
    font-weight: bold;
    border: 3px solid rgba(140, 86, 158, 0.788);
}

#box1
{
    padding:10px;
    font-size:1.8vw;
    color: rgba(57, 2, 73, 0.788);
    font-weight: bold;
    border: 3px solid rgba(140, 86, 158, 0.788);
}

#box2
{
    padding:10px;
    font-size:1.8vw;
    color: rgba(57, 2, 73, 0.788);
    font-weight: bold;
    border: 3px solid rgba(140, 86, 158, 0.788);
}


#box1:hover
{
    border-color: rgba(79, 3, 100, 0.904);
    border-style: solid; 
}

#box2:hover
{
    border-color: rgba(79, 3, 100, 0.904);
    border-style: solid; 
}

.gen
{
    color: rgba(69, 4, 88, 0.815);
    font-weight:bold;
    font-size: 2.3vw;
    font-style: oblique;
}

.name1
{
    color: rgba(69, 4, 88, 0.815);
    font-weight:bold;
    font-size: 2.3vw;
    font-style: oblique;
}

#g:hover
{
    cursor:pointer;
}

#al
{
    cursor:pointer;
}






