img
{
    position: absolute;
    height: 65vh;
    width:auto;
    top:200px;
    left:15%;  
}

.title
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*
.title h1
{
    font-style:oblique;
    position: absolute; 
    font-size: 2.1vw;
    left: 30%;
    top: 18%;
    color:rgba(161, 22, 87, 0.705);
    transform: translate(-50%, -50%);
}


.title h2
{
    font-style:oblique;
    position: absolute; 
    font-size: 2vw;
    left: 30%;
    top: 23%;
    color:rgba(161, 22, 87, 0.705);
    transform: translate(-50%, -50%);
}
*/

aside h1
{
    color:rgba(59, 4, 73, 0.719)
}

aside h2
{
    color: rgba(59, 4, 73, 0.719)
}

aside
{
    font-style:oblique;
    position: absolute; 
    font-size: 1.5vw;
    left: 61%;
    top: 50%;
    color:rgba(59, 4, 73, 0.719);
    transform: translate(-50%, -50%);
}

iframe
{
    position: absolute; 
    left: 50%;
    top: 80vh;
    transform: translate(-50%, -50%);
}



#albumCover
{
    left:30vw;
}